
<script src="/__/firebase/4.6.0/firebase-app.js"></script>
<script src="/__/firebase/4.6.0/firebase-auth.js"></script>
<script src="/__/firebase/4.6.0/firebase-database.js"></script>
<script src="/__/firebase/4.6.0/firebase-messaging.js"></script>

    <!-- Leave out Storage -->
    <!-- <script src="/__/firebase/4.6.0/firebase-storage.js"></script> -->

<script src="/__/firebase/init.js"></script>
<a href="internalusers.html"><input type=button value="Internal users" ></a>
<a href="externalusers.html"><input type=button value="External users"></a>
